main{
    margin: 0;
    padding: 0;
}
.top{
    height: 600px;
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
}
.topL{
    height: 600px;
    width: 700px;
    background-color: rgb(255, 255, 255);
}
p{
    margin: 0;
}
.topr{
    height: 350px;
    width: 400px;
    background-color: whitesmoke;
    margin-left: 50px;
    margin-top: 50px;
}
.type{
    height: 200px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
}
.typeup{
    height: 100px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    margin-left: 80px;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0866ff;
    
}
.typedown{
    height: 100px;
    width: 620px;
    background-color: rgb(255, 255, 255);
    margin-left: 80px;
    font-size: 28px;
}
input, button{
    height: 50px;
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #0866ff;
    border-radius: 5px;
}
button{
    background-color: #0866ff;
    width: 350px;
    font-size: 28px;
    color: white;
    border-radius: 5px;
}
.pass{
    height: 30px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #0866ff;
}
.create{
    height: 50px;
    width: 250px;
    background-color: green;
    margin-left: 60px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-style: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-style: bold;
}




